.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-m);
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.benefits__description {
  list-style-type: decimal;
  padding: 0 0 0 20px;
  margin: 40px 0 100px;
}

.benefits__summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
