.best__variant {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 17px;
  margin: 40px 0;
}

.best__variant__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best__variant__info__title {
  font-size: var(--font-xxl);
  padding: 50px 85px;
  flex-shrink: 0;
}

.best__variant__info__description {
  min-width: 350px;
}
