.infrastructure__item {
  display: flex;
  background: white;
}

.infrastructure__item__info {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.infrastructure__item__info__title {
  font-size: var(--font-l);
}

.infrastructure__item__info__description {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  padding: 20px 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
