.product__list__item {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 17px;
  color: white;
  font-weight: 700;
}

.product__list__item__info {
  padding: 80px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.product__list__item__info__icon {
  width: 20px;
  height: 20px;
}

.product__list__item__info__title {
  font-size: var(--font-xxl);
  width: 220px;
}

.product__list__item__image__container {
  width: 60%;
  overflow: hidden;
  border-radius: 17px;
}

.product__list__item__image {
  display: block;
  object-fit: cover;
  object-position: center;
}
