.main__banner {
  width: 100vw;
  height: 100vh;
  background: url("../../../assets/images/banners/mainBanner.png") no-repeat center center / cover;
}

.main__banner__info {
  position: absolute;
  bottom: 130px;
  left: 0;
  color: white;
}

.main__banner__info__title {
  font-size: var(--font-xxxl);
  text-transform: uppercase;
}

.main__banner__info__description {
  font-size: 1.944rem;
  margin: 30px 0 50px;
}
