.benefits__summary__item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 17px;
  overflow: hidden;
  background: white;
}

.benefits__summary__item__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
  padding: 80px 60px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: var(--font-xxl);
  color: white;
  border-radius: 17px;
}

.benefits__summary__item__description {
  padding: 60px 110px;
  font-size: var(--font-m);
}
