.logistics__item {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 17px;
  position: relative;
  padding: 0 0 0 300px;
}

.logistics__item__info {
  padding: 50px 30px 50px 50px;
  display: flex;
  flex-direction: column;
}

.logistics__item__info__title {
  font-size: var(--font-m);
}

.logistic__item__info__location {
  margin: 20px 0;
}

.logistics__row {
  display: flex;
  align-items: center;
  gap: 28px;
  flex: 1;
}

.logistics__column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logistics__column__item,
.logistics__description {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  gap: 8px;
}

.logistics__description {
  margin: 15px 0 0 0;
  height: 250px;
}

.logistics__item__image__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 17px;
  background: linear-gradient(355.11deg, rgba(0, 0, 0, 0.2) -86.44%, rgba(0, 0, 0, 0) 52.58%);
}

.logistics__item__image {
  display: block;
  transform: scale(1.1);
}

.inline {
  display: flex;
  flex-direction: row;
}
