.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__form__title {
  font-weight: 700;
  font-size: var(--font-xxl);
  margin: 80px 0 0 0;
}

.contact__form__description {
  margin: 20px 0 40px;
  font-size: var(--font-l);
}

.contact__form__inputarea {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  gap: 30px;
}

.contact__form__inputarea__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 520px;
  height: 100%;
  gap: 15px;
}

.contact__form__inputarea__details__input {
  padding: 10px 30px;
}

.contact__form__inputarea__details__input::placeholder,
.contact__form__inputarea__details__textarea::placeholder {
  color: var(--placeholderClr);
}

.contact__form__inputarea__details__textarea,
.contact__form__inputarea__details__input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: var(--font-m);
}

.contact__form__inputarea__details__input,
.contact__form__inputarea__details__textarea {
  background: var(--darkgray);
}

.contact__form__inputarea__details__textarea {
  padding: 20px 30px;
}

.contact__form__button__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 25px 0 90px;
}

.contact__form__button {
  padding: 10px 100px;
  border-radius: 65px;
  color: white;
  background: var(--black);
  margin: 30px 0 90px;
  font-size: var(--font-s);
  transition: 0.1s;
}

.contact__form__button:hover {
  transform: scale(1.05);
  background: black;
}
