.triple__column__section {
  display: flex;
  gap: 30px;
  margin: 40px 0 0 0;
}

.triple__column__section__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 400px;
  background: white;
  padding: 0 30px 30px 30px;
}

.triple__column__section__item__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 37px;
  height: 195px;
  border-radius: 16.2662px;
  background: var(--orange);
}

.triple__column__section__item__button {
  width: 100%;
  text-align: center;
  color: var(--black);
  padding: 10px 0;
  border-radius: 41px;
  border: 2px solid var(--black);
}

.bg-green {
  background: var(--green);
}

.bg-dimgray {
  background: var(--dimgray);
}

.inverted {
  color: var(--white);
  background: var(--black);
  border: 2px solid var(--black);
}
