.contact__info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.contact__info__line {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__info__line__text {
  font-size: 25px;
}
